<%= form_with url: user_posts_path, scope: :data do |form| %>
  <div class="form-container d-flex">
    <section class="title-section from-input d-flex">
      <%= form.text_field :name, placeholder: "Food Name", required: true %>
    </section>
    <section class="title-section from-input d-flex">
      <%= form.text_field :measurement_unit, placeholder: "Measurement Unit", required: true %>
    </section>
    <section class="title-section from-input d-flex">
    <%= form.text_field :price, placeholder: "Unit Price", required: true %>
  </section>
    <%= form.submit "Save", class: "submit-btn" %>
    </div>
<% end %>